.jumbotron {
  color: red;
  background-color: white;
}

body {
  background: green;
  color: white;
  background-image: url("public/img/space-pizza.gif");
}

#right-column {
  float: right;
  text-align: center;
  
}
